<div>
    <h1>Add Diary</h1>
  <!-- form fields below -->
  <form class="form-row">
    <div class="form-group col-md-6">
      <label for="inputDiaryTitle" class="sr-only">Title</label>
      <input type="text" id="inputDiaryTitle" [(ngModel)]="userDiary.diaryTitle" placeholder="Title" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputDateTime" class="sr-only">Date</label>
      <input id="inputDateTime" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" [(ngModel)]="userDiary.diaryDataTime"
        placeholder="Date Time">
      <owl-date-time #dt1></owl-date-time>
    </div>
    <div class="form-group">
      <angular-editor [(ngModel)]="userDiary.diaryContent" [config]="config"></angular-editor>
    </div>
    <button type="submit" class="btn btn-primary mb-2" (click)="addUserDiaries()">Add New Diary</button>
  </form>
  <!-- <input type="text" [(ngModel)]="userDiary.diaryText" placeholder="First Name" /> -->
  <!-- <input type="text" [(ngModel)]="userDiary.diaryDataTime" placeholder="Last Name" /> -->
  <!-- <input type="text" [(ngModel)]="userDiary.diaryImage" placeholder="age" /> -->
  <!-- <input type="text" [(ngModel)]="userDiary.userId" placeholder="City" /> -->

  <!-- A button that invokes create action -->

</div>